spring:
  application:
    name: ollama-communication
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: tinyllama
          temperature: 0.7
server:
  port: 8081